@use 'gjs_main_mixins';
@use 'gjs_vars';
@use 'gjs_category_general';

.#{gjs_vars.$app-prefix}blocks-c {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.#{gjs_vars.$app-prefix}block-categories {
  display: flex;
  flex-direction: column;
}

.#{gjs_vars.$app-prefix}block-category {
  width: 100%;

  &.#{gjs_vars.$app-prefix}open {
    @extend .#{gjs_vars.$app-prefix}category-open;
  }

  .#{gjs_vars.$app-prefix}title {
    @extend .#{gjs_vars.$app-prefix}category-title;
  }

  .#{gjs_vars.$app-prefix}caret-icon {
    margin-right: 5px;
  }
}

.#{gjs_vars.$app-prefix}block {
  @include gjs_main_mixins.user-select(none);

  padding: 1em;
  box-sizing: border-box;
  cursor: all-scroll;
  font-size: 11px;
  font-weight: lighter;
  text-align: center;
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  border-radius: 8px;
  transition: all 0.2s ease 0s;
  transition-property: box-shadow, color;

  &:hover {
    background-color: var(--gjs-quaternary-color);
    color: var(--gjs-secondary-color) !important;
  }

  svg {
    fill: currentColor;
  }

  &__media {
    pointer-events: none;
    width: 20px;
    height: 20px;
  }
}

.#{gjs_vars.$app-prefix}block-svg {
  width: 54px;
  fill: currentColor;
}

.#{gjs_vars.$app-prefix}block-svg-path {
  fill: currentColor;
}

.#{gjs_vars.$app-prefix}block.fa {
  font-size: 2em;
  line-height: 2em;
  padding: 11px;
}

.#{gjs_vars.$app-prefix}block-label {
  line-height: normal;
  font-size: 0.75rem;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  pointer-events: none;
}

.#{gjs_vars.$app-prefix}block.#{gjs_vars.$app-prefix}bdrag {
  width: auto;
  padding: 0;
}
